<div class="container mb-4">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Lista de Professores
          </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Formação</th>
                                <th scope="col">Tempo de Experiência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>André Felipe Souza</td>
                                <td>PHD em Desenvolvimento Web</td>
                                <td>17 Anos</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Fernanda Silva Torres</td>
                                <td>Pós-graduada em IOT</td>
                                <td>10 Anos</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Juliana Borges Castro</td>
                                <td>PHD Segurança da informação</td>
                                <td>7 Anos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>