<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div id="cartoesCurso" class="card h-100">
                <img src="../../assets/AspDotNet.png" class="card-img-top " alt="... ">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvimento Web com Asp.net MVC</h5>
                    <p class="card-text">Com o curso de Sistema em ASP.NET C# com MVC aprenda sistema de ordem de pedidos criado no módulo anterior e implementamos nele a parte de Sistema de Login com segurança e WEB API, acessando a aplicação de forma externa.</p>
                </div>
                <p style="font-size: 12px; text-align: center; margin-bottom: 1px;"><i class="fa fa-book mr-2 ">
                        50 Aulas</i><i class="fa fa-clock-o mr-2"> 30 Horas</i> <i class="fa fa-graduation-cap"></i> Tecnologia
                </p>
                <div class="card-footer mt-0">
                    Preço: R$ 340,0
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:110px;">Comprar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
            <div id="cartoesCurso" class="card h-100">
                <img src="../../assets/banner-java.jpg" class="card-img-top " alt="... ">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvimento JAVA</h5>
                    <p class="card-text ">O curso de Java 2020 foi completamente refeito para se tornar o conteúdo de Java mais atualizado e completo da língua portuguesa! Neste curso você aprenderá Java do absoluto zero até se tornar um programador profissional, dominando
                        os recursos mais moderno da linguagem.</p>
                </div>
                <p style="font-size: 12px; text-align: center; margin-bottom: 1px;"><i class="fa fa-book mr-2 ">
                        50 Aulas</i><i class="fa fa-clock-o mr-2"> 30 Horas</i> <i class="fa fa-graduation-cap"></i> Tecnologia
                </p>
                <div class="card-footer mt-0">
                    Preço: R$ 340,00
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:110px;">Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
            <div id="cartoesCurso" class="card h-100">
                <img src="../../assets/csharp-min_buiizq.png" class="card-img-top " alt="... ">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvimento C#</h5>
                    <p class="card-text ">Neste curso você vai aprender tudo sobre Programação Orientada a Objetos utilizando C#. Aprenda do bem simples e didáticos, e daí vamos gradualmente avançando, até mergulharmos em tópicos aprofundados tais como interfaces, polimorfismo,
                        princípios SOLID, padrões de projeto, generics, expressões lambda, delegates, LINQ e muito mais.</p>
                </div>
                <p style="font-size: 12px; text-align: center; margin-bottom: 1px;"><i class="fa fa-book mr-2 ">
                        50 Aulas</i><i class="fa fa-clock-o mr-2"> 30 Horas</i> <i class="fa fa-graduation-cap"></i> Tecnologia
                </p>
                <div class="card-footer mt-0">
                    Preço: R$ 340,00
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:110px;">Comprar</button>
                </div>
            </div>
        </div>


        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
            <div id="cartoesCurso" class="card h-100">
                <img src="../../assets/curso-html5-em-video-bnus-css3-e-javascript-299-templanes-D_NQ_NP_754011-MLB20456506822_102015-F.jpg" class="card-img-top " alt="... ">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvimento Web Html+Css+JS</h5>
                    <p class="card-text ">Curso completo para quem quer aprender a criar sites utilizando as tecnologias de HTML5 + CSS3 + JavaScript de uma maneira simples e objetiva. Este curso vai mostrar passo-a-passo da criação de um site completo utilizando as três principais
                        tecnologias do momento.</p>
                </div>
                <p style="font-size: 12px; text-align: center; margin-bottom: 1px;"><i class="fa fa-book mr-2 ">
                        50 Aulas</i><i class="fa fa-clock-o mr-2"> 30 Horas</i> <i class="fa fa-graduation-cap"></i> Tecnologia
                </p>
                <div class="card-footer mt-0">
                    Preço: R$ 340,00
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:110px;">Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
            <div id="cartoesCurso" class="card h-100">
                <img src="../../assets/php-post-1.png" class="card-img-top " alt="... ">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvimento Web com PHP</h5>
                    <p class="card-text ">Procurando se especializar como Programador WEB? Ou talvez buscando uma carreira que ofereça mais tempo livre e flexibilidade? Sempre teve curiosidade em aprender de uma forma prática, como programar no lado Back-End?<br /> Qualquer
                        que seja sua motivação você veio ao lugar certo.</p>
                </div>
                <p style="font-size: 12px; text-align: center; margin-bottom: 1px;"><i class="fa fa-book mr-2 ">
                        50 Aulas</i><i class="fa fa-clock-o mr-2"> 30 Horas</i> <i class="fa fa-graduation-cap"></i> Tecnologia
                </p>
                <div class="card-footer mt-0">
                    <span>Preço: R$ 340,00</span>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:110px;">Comprar</button>
                </div>
            </div>
        </div>

    </div>
</div>