<nav id="MenuSup" class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/unnamed.png" width="30" height="30" class="align-top" alt="" loading="lazy">
        <span>LKS Cursos</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#chamaOpcao" aria-controls="chamaOpcao" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="chamaOpcao">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active " href="#">Cursos</a>
            </li>
            <li class="nav-item b">
                <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Sobre nós</a>
            </li>
        </ul>
    </div>
</nav>